$enable-responsive-font-sizes: true;

$green: #204022;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/vendor/rfs";
@import "~rfs/scss";

body {
  font-family: Asap, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Infant", serif;
  font-style: italic;
}

a {
  color: $green;
}

a:hover {
  color: $green;
}

.serif {
  font-family: "Cormorant Infant", serif;
  font-style: italic;
}

.blockquote {
  padding-top: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
}

.padded-text {
  padding-left: 2vw;
  padding-right: 2vw;
}